                    <div class="mastfoot">
                        <div class="inner">
                            <p>&copy; Waldson Moura Tecnologia.</p>
                        </div>
                    </div><!-- end of .mastfoot -->

                </div><!-- end of .cover-container -->

            </div><!-- end of .site-wrapper-inner -->

        </div><!-- end of .site-wrapper -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
